### Recommendations Rank & Knowledge Based:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('/content/drive/MyDrive/colab_drive/ITI Task 1 New/movies_clean.csv')
reviews = pd.read_csv('/content/drive/MyDrive/colab_drive/ITI Task 1 New/reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
reviews.head()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
reviews.shape

(712337, 23)

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [ ]:
ids = (reviews.movie_id.value_counts() >= 5)
ids = ids[ids == True].index.tolist()
min_5 = reviews.query(f'movie_id == {ids}')
# min_5.groupby('movie_id')['rating'].mean()
# min_5.groupby('movie_id').max()['date']
# ratings = min_5.groupby('movie_id')['rating']
# avg_ratings = ratings.mean()
# n_ratings = ratings.count()
recent_rating = pd.DataFrame(min_5.groupby('movie_id')['date'].max())

# min_5 = pd.DataFrame({'avg_rating': avg_ratings,
#                                 'n_ratings': n_ratings,
#                                 'recent_rating':recent_rating.date})
min_5.head(1)

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [ ]:
def popular_recommendations(user_id, n_top):

    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
   
    ids = (reviews.movie_id.value_counts() >= 5)
    ids = ids[ids == True].index.tolist()
    min_5 = reviews.query(f'movie_id == {ids}')

    
    ratings = min_5.groupby('movie_id')['rating']
    avg_ratings = ratings.mean()
    n_ratings = ratings.count()
    recent_rating = pd.DataFrame(min_5.groupby('movie_id')['date'].max())

    min_5 = pd.DataFrame({'avg_rating': avg_ratings,
                                    'n_ratings': n_ratings,
                                    'recent_rating':recent_rating.date})
    
    # get movies names
    movie_df = movies.set_index('movie_id')[['movie']].join(min_5, how='right')

    # sort by avg rating then number of ratings then the most recent review
    top_df = movie_df.sort_values(['avg_rating', 'n_ratings', 'recent_rating'], ascending=False)
    top_movies = list(top_df['movie'][:n_top])
    
    return top_movies # a list of the n_top movies as recommended

After Implementing the above function go to the practical quiz in maharatech link and solve the MCQ there.

In [ ]:
import tests as t

In [ ]:
popular_recommendations(1, 3)

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)']

In [ ]:
popular_recommendations(6364, 100)

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'Sátántangó (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Akahige (1965)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'Körkarlen (1921)',
 'Tengoku to jigoku (1963)',
 'Kirik Party (2016)',
 'Chasing Asylum (2016)',
 'Beyond the Sea (2004)',
 'Blood Brother (2013)',
 'Poshter Girl (2016)',
 'The Adventures of Robin Hood (1938)',
 'Umberto D. (1952)',
 'Bridegroom (2013)',
 'No Stone Unturned (2017)',
 'Mad As Hell (2014)',
 'Nashville (1975)',
 'The Shawshank Redemption (1994)',
 'A Matter of Life and Death (1946)',
 'Cyborgs: Heroes Never Die (2017)',
 'Presto (2008)',
 'Everything or Nothing: The Untold Story of 007 (2012)',
 'Dag II (2016)',
 'The Lord of the Rings: The Return of the King (2003)',
 'Sanshô dayû (1954)',
 "Hillary's America: The Secret History of the Democratic Party (2016)",
 'Seppuku (1962)',
 'The Phantom of the Opera at the Royal Albert Hall (2011)',
 'Chasing Coral (2017)',
 'Terra (2015)',
 'Hidden Colors (2011)',
 'Berserk: Ohgon jidai hen 3 - Kôrin (2013)',
 'Men at Lunch (2012)',
 'The Dark Knight (2008)',
 'Andaz Apna Apna (1994)',
 'Przypadek (1987)',
 "La passion de Jeanne d'Arc (1928)",
 'Jalsaghar (1958)',
 'Ayla: The Daughter of War (2017)',
 'Kites (2010)',
 'Lakshya (2004)',
 'Notre musique (2004)',
 "Bab'Aziz (2005)",
 'A Face in the Crowd (1957)',
 'Southern Comfort (1981)',
 'The Decline of Western Civilization (1981)',
 'Who is Dayani Cristal? (2013)',
 'Zinda Bhaag (2013)',
 '12 Angry Men (1957)',
 'Taare Zameen Par (2007)',
 'Night Will Fall (2014)',
 'Nema-ye Nazdik (1990)',
 'Hitting the Apex (2015)',
 'Advise & Consent (1962)',
 'To Be or Not to Be (1942)',
 'Le notti di Cabiria (1957)',
 'Ma nuit chez Maud (1969)',
 'Colombia magia salvaje (2015)',
 'The Message (1977)',
 'Shelter (2007)',
 'Apur Sansar (1959)',
 'Moskva slezam ne verit (1979)',
 'Aparajito (1956)',
 'The Godfather: Part II (1974)',
 'Amadeus (1984)',
 'Terminator 2: Judgment Day (1991)',
 'Letyat zhuravli (1957)',
 'Messi (2014)',
 "It's a Wonderful Life (1946)",
 'I Believe in Miracles (2015)',
 'Dai-bosatsu tôge (1966)',
 'Umut (1970)',
 'Le trou (1960)',
 'Cowboy Bebop: Tengoku no tobira (2001)',
 'Roger Waters the Wall (2014)',
 'Ordet (1955)',
 'Wild Wild Country (2018)',
 'Il buono, il brutto, il cattivo. (1966)',
 'Forrest Gump (1994)',
 'The Green Mile (1999)',
 "Schindler's List (1993)",
 'The Godfather (1972)',
 'Bajrangi Bhaijaan (2015)',
 'Ikiru (1952)',
 "One Flew Over the Cuckoo's Nest (1975)"]

In [ ]:
# Put your solutions for MCQ here

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

The shape of the function should be as below:
```
popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
```

In [ ]:
def popular_recommendations_filtered(user_id, n_top, years=None, genres=None):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    # get movies with at least 5 reviews
    ids = (reviews.movie_id.value_counts() >= 5)
    ids = ids[ids == True].index.tolist()
    min_5 = reviews.query(f'movie_id == {ids}')

    
    ratings = min_5.groupby('movie_id')['rating']
    avg_ratings = ratings.mean()
    n_ratings = ratings.count()
    recent_rating = pd.DataFrame(min_5.groupby('movie_id').max()['date'])

    min_5 = pd.DataFrame({'avg_rating': avg_ratings,
                                    'n_ratings': n_ratings,
                                    'recent_rating':recent_rating.date})
    
    # get movies names
    movie_df = movies.copy(deep=True)
    
    if years is not None:
        movie_df = movie_df[movie_df['date'].isin(years)]
        
    if genres is not None:
        num_genre_match = movie_df[genres].sum(axis=1)
        movie_df = movie_df.loc[num_genre_match > 0, :]
    
    movie_df = movie_df.set_index('movie_id')[['movie']].join(min_5, how='inner')
    
    # sort by avg rating then number of ratings then the most recent review
    top_df = movie_df.sort_values(['avg_rating', 'n_ratings', 'recent_rating'], ascending=False)
    top_movies = list(top_df['movie'][:n_top])

    
       
    return top_movies

In [ ]:
# popular_recommendations('1', 3, years=[2015], genres=['Romance'])
# popular_recommendations(user_id='1', n_top=3, years=[2015, 2016, 2017, 2018], genres=['Romance'])
popular_recommendations_filtered('1', 3, years=[2015, 2016, 2017, 2018], genres=['Romance'])

['Koe no katachi (2016)', 'Departure (2015)', 'Hepta: The Last Lecture (2016)']

In [ ]:
popular_recommendations_filtered('1', 3, years=[2014], genres=['History'])

['Birlesen Gonuller (2014)', 'Night Will Fall (2014)', 'Red Army (2014)']

In [ ]:
# Put your solutions for MCQ here
popular_recommendations_filtered('70000', 100, genres=['History', 'News'])

['Birlesen Gonuller (2014)',
 'Seppuku (1962)',
 "La passion de Jeanne d'Arc (1928)",
 'Ayla: The Daughter of War (2017)',
 'The Decline of Western Civilization (1981)',
 'Night Will Fall (2014)',
 'I Believe in Miracles (2015)',
 "Schindler's List (1993)",
 'Judgment at Nuremberg (1961)',
 'The Culture High (2014)',
 'Let the Fire Burn (2013)',
 'For Greater Glory: The True Story of Cristiada (2012)',
 'Braveheart (1995)',
 'In the Name of the Father (1993)',
 'Requiem for the American Dream (2015)',
 'Andrey Rublyov (1966)',
 'The Farthest (2017)',
 'The Mask You Live In (2015)',
 'Mrs Brown (1997)',
 'Nanjing! Nanjing! (2009)',
 'Aguirre, der Zorn Gottes (1972)',
 'Alive Inside (2014)',
 'A Bridge Too Far (1977)',
 'Russkiy kovcheg (2002)',
 'Pearl Jam Twenty (2011)',
 'Gandhi (1982)',
 'JFK (1991)',
 'Sado (2015)',
 'Mai wei (2011)',
 'Inherit the Wind (1960)',
 'In Cold Blood (1967)',
 'Hatred (2016)',
 'The Long Walk Home (1990)',
 'Ugetsu monogatari (1953)',
 'Il gattopardo (1963)',
 'Trilogia: To livadi pou dakryzei (2004)',
 'The Devils (1971)',
 'Hotel Rwanda (2004)',
 'The Right Stuff (1983)',
 'Nuit et brouillard (1955)',
 'Deep Water (2006)',
 'Al Midan (2013)',
 'Seabiscuit (2003)',
 "The King's Speech (2010)",
 'Talk to Me (2007)',
 'Marina Abramovic: The Artist Is Present (2012)',
 '12 Years a Slave (2013)',
 'In the Shadow of the Moon (2007)',
 'Kincsem (2017)',
 'How to Survive a Plague (2012)',
 'The Alamo (2004)',
 'Choi-jong-byeong-gi Hwal (2011)',
 'Red Army (2014)',
 'Jeder für sich und Gott gegen alle (1974)',
 'Gallipoli (1981)',
 "Jodorowsky's Dune (2013)",
 'Tombstone (1993)',
 'Rang De Basanti (2006)',
 'Nise - O Coração da Loucura (2015)',
 'LA 92 (2017)',
 'The Great Escape (1963)',
 'Citizenfour (2014)',
 'Straight Outta Compton (2015)',
 'The Last Samurai (2003)',
 'Manjhi: The Mountain Man (2015)',
 'The Fog of War: Eleven Lessons from the Life of Robert S. McNamara (2003)',
 'Ying xiong (2002)',
 "Tim's Vermeer (2013)",
 'The Killing Fields (1984)',
 'The Act of Killing (2012)',
 'The Wind That Shakes the Barley (2006)',
 'Lion of the Desert (1981)',
 'Battle of Britain (1969)',
 'Zulu (1964)',
 'The Last Emperor (1987)',
 'Letters from Iwo Jima (2006)',
 'The Barkley Marathons: The Race That Eats Its Young (2014)',
 'Glory (1989)',
 'A Man for All Seasons (1966)',
 'Kagemusha (1980)',
 'Gwanghae, Wangyidoen namja (2012)',
 'Chi bi xia: Jue zhan tian xia (2009)',
 'Frost/Nixon (2008)',
 'A Night to Remember (1958)',
 'The Corporation (2003)',
 'Only the Dead (2015)',
 'Nanking (2007)',
 'The Revisionaries (2012)',
 'The Dam Busters (1955)',
 'Spotlight (2015)',
 'Under sandet (2015)',
 "All the President's Men (1976)",
 'A Passage to India (1984)',
 'Il vangelo secondo Matteo (1964)',
 '1 (2013)',
 'Les Misérables (1998)',
 'The Search for General Tso (2014)',
 'Missing (1982)',
 'Last Days in Vietnam (2014)',
 'Elizabeth (1998)']

After Implementing the above function go to the practical quiz in maharatech link and solve the MCQ there.